
<%- include('header') %>
    <h2>
        Painel do administrador
        <a href="/admin/vagas/nova">Nova vaga</a>
        <a href="/admin/categorias/nova-categ">Nova categoria</a>
    </h2>
    <div>
        <ul>
                <li><a href="/admin/categorias">Gerenciar categorias</a></li>
                <li><a href="/admin/vagas">Gerenciar vagas</a></li>
        </ul>
    </div> 
<%- include('footer') %>
